[2021-06-11 12:49] SamuelGong opened #1 "client_data_mapping/train.csv Not Found"
According to the example configuration file, e.g., [Line 50](https://github.com/SymbioticLab/FedScale/blob/9b0e91728f20ec22de95129fa0ae4d0f4077c730/core/evals/configs/openimage/conf.yml#L50) in `core/evals/configs/openimage/conf.yml`, we should have `client_data_mapping/train.csv` after downloading the OpenImage dataset after running the

[code]

at `dataset`. However, I cannot find the csv file i

[2021-06-11 15:18] dywsjtu commented on #1
Thanks for your attention! We are moving data to AWS and some of the datasets are modified from the current version in dropbox. Sorry for the inconvenience, we will update the download scripts once we finish transferring data to AWS.

[2021-06-12 01:25] SamuelGong commented on #1
I think I already have the data except for the mapping (and other auxiliary information if any). **Could I currently have direct access to all the outdated `train.csv`'s from all the datasets**, so that I can have FedScale working immediately without having to pull data again?

In fact, I think have already got the raw data downloaded (tens of GBs), except for some auxiliary information like the m

[2021-06-20 02:58] SamuelGong commented on #1
May I hear the most recent news?

[2021-06-20 14:19] DiegoCao opened #2 "Question about the Stackoverflow and Reddit Training"
I want to ask what model is used for the stackoverflow and reddit dataset next word prediction training? Is it in the models.py file?
Thanks a lot~

[2021-06-21 02:19] fanlai0990 commented on #1
Hi Zhifeng, Sorry for the late response. We have just done the data migration, and you can refer to [here](https://github.com/SymbioticLab/FedScale/blob/master/dataset/download.sh#L57) to download the latest dataset.

To avoid large pull for all machines, (1) you can pull the data on a single machine, and then distribute its mapping to other machines manually; (2) as uploading the client_mapping s

[2021-06-21 02:29] fanlai0990 commented on #2
Thanks for your interest! FedScale is able to support various user-defined models, because it relies on the PyTorch model zoo. For example, you can even define your own models for this prediction task [here](https://github.com/SymbioticLab/FedScale/blob/master/core/fllibs.py#L79).

In our [Oort paper](http://www-personal.umich.edu/~fanlai/assets/docs/oort.pdf), we trained this task with the albert

[2021-06-21 02:30] #1 closed

[2021-06-21 13:35] SamuelGong commented on #1
I finally overcame the dataset issue. Thanks for your update and notifications!

[2021-06-21 20:32] #2 closed

[2021-06-24 08:08] SamuelGong opened #6 "Request for a Complete Version of AI Benchmark"
According to my observation, the client system behavior dataset that FedScale's examples currently rely on, i.e., the file `dataset/data/client_device_capacity`, is a pickled Python dictionary containing 500,000 keys, each of which represents a client and is only associated with two values: an inference speed and a network bandwidth. In other words, it is both **model-agnostic** and **data-agnosti

[2021-06-24 14:15] fanlai0990 commented on #6
Hello Zhifeng. Thanks for the feedback.

Understandably, getting the training speed of devices for various settings is not scalable and practical, and AI-Benchmarking is also far from complete. Because (1) different devices have different training speed; (2) the same device can execute at different speed over time because of other background applications; (3) the algorithm can introduce different

[2021-06-25 10:01] SamuelGong commented on #6
Hi Fan, Thanks for the timely and informative justifications!

I am now interested in the option `--clock_factor`. Can I possibly know which **model-dataset pair** is the computational profile in`client_device_capacity` related to?

That may be helpful for me. For example, if the provided data is related to the `shufflenet_v2_x2_0`-`openimage` "domain", and now I am interested in another "domain"

[2021-06-27 05:37] SamuelGong opened #8 "Warning: Leaking Caffe2 thread-pool after fork"
Hi Authors,

I notice that `environment.yml` has undergone a change last month. Particularly, in the [last old version](https://github.com/SymbioticLab/FedScale/blob/5aa04498495212e1dc9ef30dd346cd067b01b62f/environment.yml), it requires `torch==1.1.0` and `torchvision==0.4.0`. As `torchvision==0.4.0` actually requires `torch 1.2.0`, an environment installation based on this version of `environment

[2021-06-27 06:51] SamuelGong opened #9 "Confusion on the Calculation of Model Update Size"
At [Line 228](https://github.com/SymbioticLab/FedScale/blob/245ca305946668e8fa69fb897eaf9d37f2a75dca/core/aggregator.py#L228) of file `core/aggregator.py`, function `run` is going to calculate the model size in *kbits*.

I was wondering **why is the divisor in the expression 1024 instead of 1000**? According to my understanding, a bit rate is typically expressed in conjunction with an [SI prefix](

[2021-06-28 04:37] fanlai0990 commented on #8
Hello Zhifeng,

Thanks for pointing it out. We also observed this issue before, but we think this is the inherent issue of PyTorch. Downgrading the torch version may not be a good choice as we are planning to support more future work (e.g., Transformers rely on the latest torch). For the short term, we can keep an eye on torch updates, and see whether the incoming torch version can fix it.

Again,

[2021-06-28 04:44] fanlai0990 commented on #6
Hi Zhifeng, we use the mobilenet-v2 trace of AI-Benchmarking. You can refer to their [paper](https://arxiv.org/pdf/1910.06663.pdf) for more details. IMO, the easiest way for most customized settings is to use FLOPs as the walk-around, because it introduces a negligible overhead of profiling. Of course, we assume the computation overhead is dominant by the computation of models.

[2021-06-28 04:56] fanlai0990 commented on #9
The bandwidth information is ```Kibit/s``` in the trace.

[2021-06-28 06:12] SamuelGong commented on #8
Thanks for your tips.

[2021-06-28 06:12] #8 closed

[2021-06-28 06:25] SamuelGong commented on #9
Then I am still confused, as **MobiPerf**, i.e., the dataset you adopted for bandwidth information [seems to](https://github.com/search?q=org%3AMobiperf+bandwidth&type=code) the convention of using SI prefix. I am not sure about it, or maybe you have conducted additional conversion?

[2021-06-28 06:29] SamuelGong commented on #6
Thank you very much for your recommendation!

[2021-06-28 06:29] #6 closed

[2021-06-28 18:23] AmberLJC opened #10 "small bug aggregator.py"
https://github.com/SymbioticLab/FedScale/blob/24ffc1b324e6a8197dc4c093ef74480593b0a97b/core/aggregator.py#L333

self.param should be param?

[2021-06-28 19:54] fanlai0990 commented on #10
Good catch!  Thanks.

[2021-06-28 19:55] #10 closed

[2021-06-28 19:55] fanlai0990 commented on #9
Yeah. We did so to unify those expressions.

[2021-06-29 02:54] SamuelGong commented on #9
OIC. Thanks for your reply.

[2021-06-29 02:54] #9 closed

[2021-06-30 16:13] SamuelGong commented on #8
As I previously knew few about language models, I did not realize the meaning of `Transformers rely on the latest torch` until I am not able to perform `from transformers import AutoModelWithLMHead` as a result of downgrading the version of `torch`. Just leave a message here for others' reference.

[2021-06-30 16:20] SamuelGong opened #12 "SentencePiece not Found in the Environment"
When I ran `Albert` atop `reddit`, I came across with such an exception:

[code]

which is resolved after I conducted

[code]

in the `fedscale` environment. I am thus wondering if you want to add this dependency into the `environment.yml` for friendly supporting users.

[2021-06-30 17:55] fanlai0990 commented on #12
Interesting. Sure, let me fix it later. Thanks, Zhifeng!

[2021-07-01 05:02] dywsjtu commented on #12
Resolved

[2021-07-01 05:02] #12 closed

[2021-07-03 16:36] AmberLJC opened #13 "Bug in qfedavg"
https://github.com/SymbioticLab/FedScale/blob/aa0edfa95a3f640062abd94386cf5f6c2b051c80/core/aggregator.py#L329

I am not sure I got this bug when running this line

And I change it to
`                    hs += (qfedq * np.float_power(loss+1e-10, (qfedq-1)) * torch.norm(torch.stack(([torch.norm( g, 2) for g in grads]))) + (1.0/learning_rate) * np.float_power(loss+1e-10, qfedq))
`

[2021-07-04 10:21] DiegoCao commented on #2
Thanks a lot. Besides I have one question about the Oort experiment. While reading the paper I noticed the reward is related to the dataset size and the local loss. When doing Oort on the stackoverflow/reddit dataset, does each client has the same amount of data? (Or this is not controlled?)

[2021-07-06 13:23] SamuelGong commented on #13
Same observation here. While Jiachen has provided a talented solution that works perfect if the logic of the original code is correct, I find a flaw in the old implementation and am thus proposing to fix this line by replacing

[code]

with

[code]

as indicated by Pull Request

[2021-07-06 14:43] dywsjtu commented on #13
Thanks for your contribution, I will update it.

[2021-07-06 14:43] #13 closed

[2021-07-12 16:26] fanlai0990 commented on #2
Sorry for closing the issue too early. We used the raw size of client data, but only the client has 100-1000 words is used in our dataset.

[2021-07-13 14:46] weimingwill opened #15 "Missing Stackoverflow preprocessed data"
The preprocessed Stackoverflow dataset is missing in  https://github.com/SymbioticLab/FedScale/tree/master/dataset/data/stackoverflow.

[2021-07-18 09:14] Romero027 commented on #15
Thanks for your comment! We will fix it soon. In the meantime, please feel free to try other datasets and let us know if you have other questions :)

[2021-07-27 11:39] ahmedcs commented on #8
Is there any workaround this? it seems the warning is suppressed but will be available only in the upcoming torch v1.10 and currently version is v1.9?

[2021-08-02 00:14] singam-sanjay opened #17 "Delaying worker initializations"
When running on a single host, around 10 worker initializations made in the following line fail. This is possibly due to exceeding the number of new concurrent connections to sshd ([MaxStartups](https://serverfault.com/a/1004113)).
https://github.com/SymbioticLab/FedScale/blob/2af119c2efb3f007f2279a2425aa0b3adb1bc8d6/core/evals/manager.py#L87

Waiting for the previous connections to succeed, just

[2021-08-02 04:31] SamuelGong commented on #17
Same observation with my single-node testbed and I indeed fixed the issue with the same solution.

[2021-08-05 23:35] fanlai0990 commented on #17
Merged. Thanks for pointing it out.

[2021-08-05 23:35] #17 closed

[2021-08-18 17:50] AmberLJC opened #24 "Yogi problem"
https://github.com/SymbioticLab/FedScale/blob/fe2eb88a339e5215f4735c61beaeaa0096132c15/core/utils/yogi.py#L23

Should the gradient_square be the one compute with  β1 based on the old gradients?

Algorithm2 Line12  https://arxiv.org/pdf/2003.00295.pdf

[2021-08-22 08:02] SamuelGong opened #25 "Question on Getting Runtime Variance for BN"
At `executor.py` we see https://github.com/SymbioticLab/FedScale/blob/fe2eb88a339e5215f4735c61beaeaa0096132c15/core/executor.py#L224
while the comment right above it is
https://github.com/SymbioticLab/FedScale/blob/fe2eb88a339e5215f4735c61beaeaa0096132c15/core/executor.py#L223

So it seems indispensable to have Line 224, but I am not sure how it works. I have tried to remove Line 224, and the trai

[2021-08-22 08:58] SamuelGong commented on #25
I worked out the answer myself. As `update_model_handler()` in `executor.py` only updates the trainable model weights, we still need the above-mentioned line to keep some untrainable parameters up-to-date, including those used for local batch normalization. We can actually add the debugging code snippet like

[code]

before and after the execution of Line 224 to see what happens.

[2021-08-22 08:58] #25 closed

[2021-08-25 01:48] singam-sanjay opened #26 "Sampler Choice"
Should the samplers be "random" and "oort", instead of "random and "kuiper" as is mentioned in the file?
https://github.com/SymbioticLab/FedScale/blob/fe2eb88a339e5215f4735c61beaeaa0096132c15/core/aggregator.py#L129-L142

[2021-08-25 02:37] fanlai0990 commented on #26
Please submit a PR to fix it. Thanks.

[2021-08-29 18:37] AmberLJC opened #28 "qfedavg not converge"
Anyone can take a look at qfedavg or have run the new version of qfedavg?
https://github.com/SymbioticLab/FedScale/blob/master/core/optimizer.py#L26

I set q=1 and it never converges as before, which is the wrong version though.
But, I cannot find any reason why that fails.

[2021-08-29 22:09] AmberLJC commented on #28
Fan suggest me to use q=0.01(can be even smaller tend to not have q-fedavg) in large-scale real-world dataset. ( just for future reference )😄

[2021-08-30 21:53] singam-sanjay commented on #28
Does qfedavg implement the vanilla fed averaging?

[2021-08-30 22:01] singam-sanjay commented on #28
Could it be because of this?
https://github.com/SymbioticLab/FedScale/commit/acef26f0668e2ebf113a5a4934b4c55d75b0b749

[2021-08-31 12:49] SamuelGong commented on #28
But why

[2021-09-01 02:16] AmberLJC commented on #28
Issue solved. Tuning q for different dataset is important lol

[2021-09-01 02:16] #28 closed

[2021-09-17 01:44] SamuelGong opened #30 "Missing FEMNIST Preprocessed Data"
Just wondering if you have any script for downloading and partitioning FEMNIST, as the authors have mentioned in both the [paper](https://arxiv.org/abs/2105.11367) and some [README](https://github.com/SymbioticLab/FedScale/tree/master/dataset) that FEMNIST is currently supported.

[2021-09-19 21:26] fanlai0990 commented on #30
Thanks for pointing it out. Just uploaded, and we plan to release more soon.

[2021-09-19 21:26] #30 closed

[2021-09-24 04:24] fanlai0990 commented on #15
After cleaning up the disk space, we have enough space for these datasets. So just uploaded them.

[2021-09-24 04:24] #15 closed

[2021-09-27 00:05] etesami opened #36 "Missing FEMNIST dataset client data mapping files"
Trying to run experiments using femnist dataset, a problem arises as a result of missing the following files:

- train_img_to_path
- train_img_to_target
- test_img_to_path
- test_img_to_target

https://github.com/SymbioticLab/FedScale/blob/26b83da19b790d2769e4803aa24074e4f4b132be/core/utils/femnist.py#L109-L121

[2021-09-27 04:21] etesami opened #37 "ClientOptimizer.update_client_weight arguments inconsistency"
In `client.py`, the `update_client_weight` function is called by giving `conf.gradient_policy` as an argument.
https://github.com/SymbioticLab/FedScale/blob/26b83da19b790d2769e4803aa24074e4f4b132be/core/client.py#L157

However, in the `update_client_weight` definition, `conf` refers back to the configuration parameters:

https://github.com/SymbioticLab/FedScale/blob/26b83da19b790d2769e4803aa24074e

[2021-09-27 04:25] etesami opened #38 "ClientOptimizer.mode is not defined"
In the `optimizer.py`, the `ClientOptimizer` class does not have an attribute named `mode`, however, it has been referenced in `update_client_weight` function:

https://github.com/SymbioticLab/FedScale/blob/26b83da19b790d2769e4803aa24074e4f4b132be/core/optimizer.py#L57

[2021-09-27 04:43] fanlai0990 commented on #37
Hi Ehsan,

Thanks for your feedback.  We just pushed a PR to fix this issue and another relevant one! Please let me know if you need more help. Meanwhile, we welcome your contributions. :)

[2021-09-27 04:44] fanlai0990 commented on #38
Hi Ehsan. We just merged a PR to fix it. Please try to pull. :)

[2021-09-27 04:54] #37 closed

[2021-09-27 04:55] #38 closed

[2021-09-27 05:29] dywsjtu commented on #36
Hi Ehsan,

Thanks for your feedback! We just merged a PR to fix this issue. Also please redownload the feminist data, sorry for the inconvenience. I will close the issue now, feel free to reopen it if you have further issues.

[2021-09-27 05:29] #36 closed

[2021-09-27 20:38] etesami opened #41 "Incorrect download address for Open Images for detection dataset"
The address of "Open Image for detection" dataset is not correct, hence, the download of the dataset fails accordingly:

https://github.com/SymbioticLab/FedScale/blob/5a691b97326e1a99a316dd8811a493335221cafe/dataset/download.sh#L194-L200

[2021-09-27 20:55] #41 closed

[2021-09-27 20:59] Romero027 commented on #41
Thanks for pointing this out! @etesami

[2021-09-28 04:51] etesami opened #43 "Inconsistent gradient_policy variable values in example config files and core files"
In the given example config files (e.g. [core/evals/configs/openimage/conf.yml](https://github.com/SymbioticLab/FedScale/blob/fefd06d842316f100a9981e258c46f9169b572c8/core/evals/configs/openimage/conf.yml)), the comments suggesting values for `gradient_policy` variables as `fed-avg`, `fed-prox` and `fed-yogi`, while different values are being used in the [optimizer.py](https://github.com/Symbiotic

[2021-09-28 12:26] yan-gao-GY commented on #36
Hi Yinwei, I just tried to re-download the feminist data, the files above are still missing.

[2021-09-28 12:52] fanlai0990 commented on #43
Hi Ehsan,

Thanks for point this out. ``fed-avg`` is implemented [here](https://github.com/SymbioticLab/FedScale/blob/master/core/aggregator.py#L279) by default. We did not add this to ``gradient_policy (optimizer.py)``. to reduce the memory footprint as much as possible for better scalability. Or, we can add this comment to ``optimizer.py`` to clarify this. What do you think?

[2021-09-28 13:54] yan-gao-GY opened #45 "Missing FEMNIST dataset client data mapping files"
The following data is still missing after re-downloading just now.

train_img_to_path
train_img_to_target
test_img_to_path
test_img_to_target

[2021-09-28 14:02] etesami commented on #43
Hi Fan, Thanks for your answer. Definitely adding a comment to `optimizer.py` would help. It would be helpful as well to reference relevant studies in the comments where `yogi`, `prox` or `qfedavg` are used. Please feel free to edit my PR or close it as you would prefer.

[2021-09-28 14:12] yan-gao-GY commented on #45
Thanks for your rapid reply. I see. Sorry I didn't notice femnist.py has been updated.

[2021-09-28 14:25] fanlai0990 commented on #43
Sounds good. Fixed #46. Thanks!

[2021-09-28 14:25] #43 closed

[2021-09-28 14:29] fanlai0990 commented on #45
Hi yan-gao,

Thanks for your interest. Please try to pull and feel free to let us know if you have other concerns. Meanwhile, we welcome your contribution (e.g., Pull Request) to make FedScale better!

[2021-09-28 16:49] #45 closed

[2021-10-30 01:40] xxxxxyyyyz opened #49 "low accuracy"
[time_to_acc.pdf](https://github.com/SymbioticLab/FedScale/files/7445566/time_to_acc.pdf)
I have run the femnist task with the following setting, but the accuracy has not changed after about 700 rounds. The train loss is around 15, any suggestions?

    ps_ip: 127.0.0.1
    worker_ips:
    - 127.0.0.1:[2] # worker_ip: [(# processes on gpu) for gpu in available_gpus] eg. 10.0.0.2:[4,4,4,4] This nod

[2021-10-30 02:04] fanlai0990 commented on #49
Thanks for trying it. There might be several causes. But I guess you can first try a larger ``batch_size`` (e.g., 20) and use a smaller learning rate (e.g., ``torch.optim.lr_scheduler.CosineAnnealingLR``). If the performance stays the same, then try to remove ``data_map_file`` and ``device_avail_file`` to turn to the centralized-IID setting.

[2021-11-04 17:32] etesami opened #51 "ProcessGroupGloo error when running on more than one worker machine"
Hi, I am trying to perform training based on the following config file for femnist dataset. I can run the experiment using two virtual machines. One as a parameter server and the other as a worker. However, if I increase the number of workers, let's say two workers, I run into the following error (please see the next comment).

Any thought on this?

[2021-11-04 17:42] etesami commented on #51
Error:
[code]
Config file:
[code]

Complete output of logs:
[code]

[2021-11-04 17:45] etesami commented on #51
Please note that this experiment is being run on machines with CPU only. Hence, I changed the default value for `use_cuda` in `argParser.py` to `False`. There are no other changes anywhere.

[2021-11-04 19:00] fanlai0990 commented on #51
Hi Ehsan. Sorry for bringing this inconvenience as we are upgrading our communication protocol to GRPC these days.

It is likely due to the inconsistent cleanup. Can you please comment out this data-plane channel [here](https://github.com/SymbioticLab/FedScale/blob/master/core/aggregator.py#L138) and [here](https://github.com/SymbioticLab/FedScale/blob/master/core/executor.py#L114)? It seems like

[2021-11-04 21:24] etesami commented on #51
Commenting out these two lines will introduce another error:
https://github.com/SymbioticLab/FedScale/blob/233aa7140e4175b084f7bf561731646013999445/core/aggregator.py#L138
https://github.com/SymbioticLab/FedScale/blob/233aa7140e4175b084f7bf561731646013999445/core/executor.py#L114

Complete output log:
[code]

[2021-11-10 06:05] fanlai0990 commented on #51
@qinyeli Can you please take a look when you are available? Thanks a lot!

[2021-11-11 02:27] #49 closed

[2021-11-15 02:15] fanlai0990 commented on #51
Hi Ehsan, Qinye has submitted a PR for this issue. Please let us know if it does not work as expected. :)

[2021-11-15 03:34] etesami commented on #51
@fanlai0990 Thanks, still there is an error. Please take a look complete log below. I can confirm all machines have the latest commit.
[code]

[2021-11-15 03:40] fanlai0990 commented on #51
:( it seems like the gloo issue. Can you please try this? (we haven't removed those lines so far)

[2021-11-15 03:49] etesami commented on #51
Seems the same error as before:
[code]

[2021-11-19 07:36] fanlai0990 commented on #51
Hi Ehsan. We have just fixed the issue, and now it can pass our test on CPUs. Please try to pull. :)

[2021-11-20 07:44] etesami opened #53 "KeyError: 'get_server_event_que[X]' in executor.py"
### Description
The `server_event_queue` in the `executor.py` throws KeyError as `self.control_manager.get_server_event_que'+str(self.this_rank)` has not been initialized for second executor and the rest of them:

https://github.com/SymbioticLab/FedScale/blob/501f91c56beb9a4e5947bf005648e64bdb1ad704/core/executor.py#L162

### Environment to reproduce:
OS: Ubuntu 18.03 with bash as the default shel

[2021-11-20 07:48] etesami commented on #51
Thanks. It seems the issue is now fixed.

[2021-11-20 07:49] #51 closed

[2021-11-20 16:48] #53 closed

[2021-11-20 20:12] etesami opened #55 "FileNotFoundError in load_global_model function"
### Description
Occasionally, FileNotFoundError is thrown for the `temp_model_path` in the `load_global_model` function of the `executor.py`:
https://github.com/SymbioticLab/FedScale/blob/33de86d2a086084b71a5198db3aa5e6cdbfbf624/core/executor.py#L238-L242

### Environment
OS: Ubuntu 18.03 with bash as the default shell
Running on CPU with more than one worker

### Error logs
[code]

### Config fil

[2021-11-21 06:33] fanlai0990 commented on #55
Hi Ehsan. This ("No such file or directory") seems a bit weird, as I think the code logic should work fine. Have you checked why this can happen?

Btw, thanks for your PR. But it can lead to the performance issue, as directly reusing self.model in exception will force the next client to reuse the last client model. :(

[2021-11-22 02:16] etesami commented on #55
Hey @fanlai0990, I am unable to find the root cause of this. However, occasionally, I am experiencing this, whenever I run an experiment multiple times. I suspect this is related to cleaning the previous run. I close this issue now and might reopen it if I have more information.

[2021-11-22 02:16] #55 closed

[2021-11-23 23:31] kwmaeng91 opened #57 "BatchNorm params not being collected / averaged properly across clients"
The code is using `model.parameters()`  to get all the learnable parameters from the clients and perform aggregation, e.g., in https://github.com/SymbioticLab/FedScale/blob/33de86d2a086084b71a5198db3aa5e6cdbfbf624/core/client.py#L179.
However, `model.parameters()` does not include BN statistics such as `running_mean`, `running_var`, or `num_batches_tracked`, so I think the code is currently not ag

[2021-11-24 18:34] fanlai0990 commented on #57
Thank you so much for pointing it out! We once fixed this in our Oort experiment, but it turns out we forget to do so in FedScale.

Can you please submit a Pull Request (PR) to fix it? We will merge your PR asap. Again, thanks for contributing to FedScale.

[2021-11-25 09:09] etesami opened #58 "Overall Test Accuracy Calculation and Test Datasets"
I have seen studies that use the aggregated model to evaluate the accuracy over a test dataset. However, in the `aggregator.py`, the overall test accuracy is calculated by averaging the test accuracy of each individual client's test accuracy:
https://github.com/SymbioticLab/FedScale/blob/33de86d2a086084b71a5198db3aa5e6cdbfbf624/core/aggregator.py#L398-L399

I am wondering if these two approaches w

[2021-11-25 16:27] fanlai0990 commented on #58
Hello, Ehsan. Our test accuracy is the accuracy of all test samples. Note that we use the rankId to split the overall test set. i.e., if we have 10K test samples and 10 machines, then each machine will take charge of its part (i.e., 1K).

Then ```accumulator[key] += self.test_result_accumulator[i][key]``` will accumulate the accuracy and test_len at the same time. So, it means eventually we will h

[2021-11-25 17:17] etesami commented on #58
Thank you @fanlai0990. For the second part of answer, it seems you are correct for the `top_1`, but not for `top_5`, since `executor.py` returns number of correct predictions only for `top_1`:

https://github.com/SymbioticLab/FedScale/blob/33de86d2a086084b71a5198db3aa5e6cdbfbf624/core/utils/utils_model.py#L362-L364

and later in `aggregator.py`, `testRes` will be used as `accumulator`:
https://git

[2021-11-25 17:58] dywsjtu commented on #58
I think top_5 also records the correct predictions. Not sure whether I understand you correctly, can you elaborate on your concerns on top_5.

[2021-11-25 18:07] etesami commented on #58
Looking more closely, I see that `acc_5` is equal to the accuracy and `top_5` is the number of predictions. Therefore, you are correct. Sorry for this misunderstanding. I close this issue now.

[2021-11-25 18:07] #58 closed

[2021-11-25 18:09] fanlai0990 commented on #58
Great! Happy that we are on the same page. And thanks for raising it! :)

[2021-12-06 20:02] kwmaeng91 commented on #57
Hi. I cannot directly contribute to this repo as I currently do not have a decent machines to test the changes. I still wanted to flag you about the potential problem that I saw.
I think searching for `model.parameters()` and replacing every instances should do the trick but I do not want to commit anything that I cannot test :)
Hope you understand.

[2022-01-16 21:57] fanlai0990 commented on #24
I double-checked the paper. Seems like the previous implementation is correct. We may need to revert this change.

[2022-01-16 21:59] fanlai0990 commented on #24
@dywsjtu Please help us to double check.

[2022-01-17 02:01] dywsjtu commented on #24
https://arxiv.org/pdf/2003.00295.pdf and https://arxiv.org/pdf/2003.00295v3.pdf have some discrepancies.  The previous code version seems correct to me. Maybe we should roll back this change.

[2022-01-17 02:06] fanlai0990 commented on #24
Sounds good. I have rolled back this change. #62

[2022-01-17 02:06] #24 closed

[2022-01-25 23:19] fanlai0990 commented on #57
Fixed by #66 . Thanks for your feedback! :)

[2022-01-25 23:19] #57 closed

[2022-05-26 05:07] MrDavidG opened #91 "GRPC error"
hi, thanks for building this fl library!
I'm trying to run a toy example with FEMNIST. However, the program report grpc error as follows:
[code]
It seems like there are too many pings for the port?
Here is my yaml:
[code]

[2022-05-26 06:34] fanlai0990 commented on #91
Thank you for trying FedScale! From the configuration, you are not using GPUs (-- use_cuda: False), while the worker_ips (- 0.0.0.0:[4,4]) may leads to confusing configurations. Because, [4, 4] indicates the 2-GPU setup, and each GPU runs 4 executors using MPS.

Can you please try (-- 0.0.0.0:[4])? This will run 4 executors on CPUs concurrently.

[2022-05-26 08:27] DavdGao commented on #91
@fanlai0990 Thanks for reply!
I have update my configuration as follows, and try to run on GPU:
[code]
The running command of python is `python manager.py start configs/openimage/conf.yml`.
This time fedscale runs sucessfully, but still report the following error repeatly during training
[code]
However, the above error doesn't stop the training process immediately.

Besides, I cannot find the use

[2022-05-26 15:29] DavdGao opened #92 "Missing feedbacks when `- total_worker` is large"
I'm trying to run the example of FEMNIST with a two-layer Conv network on a ubuntu server with 8 gpus.
The following is my yaml:
[code]
FedScale is blocked during training, so I add some logging in aggregator.py to monitor the running status as follows
[code]
and I obtain the following logs:
[code]
It seems like the server only get 99 models from the clients and the server continues to wait for th

[2022-05-26 15:47] fanlai0990 commented on #92
Thanks for letting us know. @dywsjtu Can you please check it for now? I will double check it later today if needed.

[2022-05-26 17:10] dywsjtu commented on #91
I will take a look and get back to you. Btw the -epochs arg has been changed to -rounds, we are sorry about this.

[2022-05-27 01:47] mosharaf opened #94 "Inconsistency in the dataset directory"
1. The `README` says 20 datasets, the `download` script has 16 or so, the `data` directory has 15 or 16.
2. Naming of the datasets are inconsistent too; e.g., iNature vs iNaturalist
3. Using a single letter in the `download` script is also confusing and short-sighted. There may be more datasets than letters in the alphabet. A convention would be `--dataset-name`

[2022-05-27 01:48] dywsjtu commented on #94
Thanks for pointing out! I will work on this.

[2022-05-27 01:51] mosharaf commented on #94
Let me know when you have the pull request. I can review it.

[2022-05-27 02:00] mosharaf opened #95 "install.sh issues"
The current `install.sh` assumes a lot of things. Until we have a very sophisticated version that auto-detects OS, GPU etc. and does a lot of the heavy lifting, a slightly improved approach could be giving specific instructions for what to do, where

1. the user installs Anaconda on their own;
2. then sets up conda environment using an `yml`;
3. then optionally installs CUDA

`environment.yml` als

[2022-05-27 05:52] fanlai0990 commented on #92
Hello. We tried to reproduce these issues, but our experiment runs well. Please try to pull the latest version, and [follow this conf.yml](https://github.com/SymbioticLab/FedScale/tree/master/evals/configs/femnist) to have a try. :)

[2022-05-27 05:52] fanlai0990 commented on #91
Hello. We tried to reproduce these issues, but our experiment runs well. Please try to pull the latest version, and [follow this conf.yml](https://github.com/SymbioticLab/FedScale/tree/master/evals/configs/femnist) to have a try. :)

[2022-05-27 09:32] DavdGao commented on #92
@fanlai0990 Thanks, I know where is wrong. Since I set `filter_less` as 0 and FedScale drops the last epoch by default during training, some clients may have less than 20 training samples and cannot jump out the training loop. Therefore the training process is blocked.

[2022-05-27 15:22] mosharaf opened #96 "Basic tutorial shouldn't use openimage dataset"
It's too large for anyone to have patience; may even be prohibitive in terms of space on someone's laptop. It should be based on a smaller dataset like FEMNIST.

There is a lot of repetitions between different tutorials that doesn't make sense either.

[2022-05-27 15:46] #92 closed, assigned to dywsjtu

[2022-05-27 15:57] mosharaf opened #97 "$FEDSCALE_HOME / $FS_HOME environment variable"
In many places, FedScale uses $HOME assuming that a user has installed FedScale in their $HOME directory. Instead, it should have a $FEDSCALE_HOME variable or something like that and then have paths relative to that to avoid scripts silently failing.

[2022-05-27 23:21] #95 closed

[2022-05-29 02:39] mosharaf opened #101 "Use a proper logging facility instead of print"
For example https://docs.python.org/3/library/logging.html

[2022-05-30 03:56] mosharaf opened #102 "Merge basic mobile backend"
Creating an issue to track progress of @singam-sanjay's progress.

[2022-05-30 19:04] mosharaf opened #103 "Keep Jupyter notebooks for the tutorials but still have .md files to describe it concisely"
Some of the tutorials are in colab only and some in jupyter only; ALL should be in md with links as needed. Having a concise markdown version is easier to skim through, whereas a notebook (jupyter or colab) has too much unnecessary stuff.

@dywsjtu can keep an eye on this when setting up the docs.

[2022-05-31 20:13] mosharaf opened #105 "Running FEMNIST tutorial on local machine gives a few warnings."
1. `[W ParallelNative.cpp:229] Warning: Cannot set number of intraop threads after parallel work has started or after set_num_threads call when using native parallel backend (function set_num_threads)`
2. `/Users/mosharaf/opt/anaconda3/envs/fedscale/lib/python3.7/site-packages/torchvision/transforms/functional_pil.py:42: DeprecationWarning: FLIP_LEFT_RIGHT is deprecated and will be removed in Pill

[2022-05-31 20:40] #97 closed

[2022-06-01 04:49] dywsjtu commented on #105
should be fixed by #108

[2022-06-01 04:52] dywsjtu commented on #94
Please check #108. Now download.sh use --dataset-name and I fix some inconsistent dataset naming. For the first point, I will need to talk with @fanlai0990 on this since they are some old datasets from Oort doesn't follow the same dataset structure. We should fix that soon. BTW, I add some support to write fedscale_home to ~/.bashrc.

[2022-06-01 15:24] mosharaf opened #109 "Potential dataset"
https://aml.engr.tamu.edu/book-dswe/dswe-datasets/

@dywsjtu can you look it up? Most of them are really small, but the `4. Wind Spatio-Temporal Dataset2` can be useful with 200 clients.

We can discuss here.

[2022-06-02 04:40] fanlai0990 opened #110 "Legacy in Tutorial"
We notice there are some legacy issues in [this tutorial](https://github.com/SymbioticLab/FedScale/blob/master/dataset/Femnist_stats.ipynb). For example:
 - Please clone from this repo instead of `AmberLJC/FedScale.git`;
 - `from fedscale` instead of `from FedScale`?
 - Typo in `Partition the dataset by the clientclient_data_mapping file`

Can you please try to update it? Thanks!

[2022-06-02 15:14] mosharaf commented on #105
The same warning messages still persist.

[2022-06-02 15:16] mosharaf opened #111 "Install dataset-specific dependencies when downloading that dataset"
This will make initial conda setup faster (basically, delete the dependency from the environment.yml), and people can avoid installing unnecessary packages.

[2022-06-02 18:57] dywsjtu commented on #105
try this maybe `pip install pillow==9`

[2022-06-02 19:12] mosharaf commented on #105
You're right. I didn't install pillow after pulling. It's fixed.

The other one coming from torch is still there. Probably we can't do much though. If yes, we should mark it as a known issue somewhere.

[2022-06-02 22:07] mosharaf commented on #105
Ok. Closing it.

[2022-06-02 22:07] #105 closed, assigned to nobody

[2022-06-02 22:11] mosharaf commented on #111
Ok, I buy 1 and 2. 3 maybe fine now but in long run not scalable; also forcing people to install everything even when they don't need them seems too much to me.

Are you suggesting reverting those back as well? Whatever we are doing, it should be consistent.

@AmberLJC what do you think?

[2022-06-02 22:59] AmberLJC commented on #111
3. Some packages can not be directly install on Mac at least.

For now, there is not so many packages overlapped. Or we can group by 'task' instead of 'dataset' , in that case, the install list would be too long. For example for 'task=voice', some packages can be packed together

[2022-06-03 05:08] #110 closed

[2022-06-03 18:23] fanlai0990 commented on #111
so, revert back for now? Grouping by tasks requires checking whether the libraries have already been installed before every time (not pretty sure how to make it). Still, dividing installing dependencies into different code blocks is weird and risky (e.g., `conda activate` may fail).

Instead, I prefer to remove as many dependencies as possible bespoken for rare use cases (e.g., `gurobi=9.1.0` an L

[2022-06-03 18:25] mosharaf commented on #111
Ok. I vote for revert for now and keep things together. For now at least.

[2022-06-06 01:55] mosharaf opened #113 "Better organization needed in the core directory"
Everything is basically in a flat hierarchy and hard to figure out who might be related to each other without going through the code.

[2022-06-07 06:07] fanlai0990 commented on #111
@AmberLJC Can you please revert when you are available? Thanks!

[2022-06-07 14:40] mosharaf commented on #111
Well,  not all can be reverted. sox and torch-baidu fails on mac. I think that's where we started discussing not installing all dependencies together.

[2022-06-07 14:53] mosharaf opened #114 "Add Tensorflow support"
Ideal solution would be native support. If that's too difficult, as a first step, we should add a tutorial.

[2022-06-07 14:54] AmberLJC commented on #111
Just saw the discussion hmmm. sox and torch-baidu are for `voice` task, so I think it's fine at least for now to separate the dependencies. We just need to remind users to `activate fedscale` before downloading?

[2022-06-07 15:00] mosharaf opened #115 "Documentation site"
Creating a placeholder to keep track of documentation status. There is no other obvious place.

[2022-06-07 15:00] mosharaf commented on #115
@dywsjtu What's the current status?

[2022-06-07 15:10] mosharaf opened #116 "Dataloader segmentation fault"
[code]

[2022-06-07 15:21] mosharaf commented on #94
@dywsjtu Can you create a list of datasets that are missing either in the download.sh file or inside the data directory or both? We're talking about 20 datasets but don't really have 20.

[2022-06-07 15:57] mosharaf commented on #94
@fanlai0990 I think this should be highest priority to have a resolution before the camera-ready deadline

[2022-06-07 16:17] fanlai0990 commented on #111
Okay. Then leave `sox` and `pytorch-baidu `inside the `download.sh`. Then revert all others. Also, remove `gurobi` from `environmet.yml`.

Thanks!

[2022-06-07 16:18] fanlai0990 commented on #115
@dywsjtu Please try our website repo. I created an individual page for this.

[2022-06-07 17:17] mosharaf commented on #115
I think the docs source folder should be part of code repo, no? The compiled thing can be in the website repo.

[2022-06-07 19:03] fanlai0990 commented on #116
Can not reproduce and it is Pytorch issue.

[2022-06-07 19:36] mosharaf opened #118 "Add trace formats for device traces"
Include a README in the folder with the format of both traces so that people can use their own trace or contribute new traces.

[2022-06-07 21:48] dywsjtu commented on #115
I am still developing the documentation locally, and haven't posted it on the website yet. I will finish the first version in two days and we can discuss it. Yes, I think the docs source folder should be part of the code repo.

[2022-06-09 14:53] mosharaf commented on #118
I just looked up the trace files themselves. They seem to be in binary format, which isn't ideal for adding new traces easily.

Why not keep the data in plain text format with an easy-to-understand schema?

[2022-06-11 02:06] mosharaf commented on #94
@dywsjtu We can close this now, no?

[2022-06-11 02:07] dywsjtu commented on #94
Yes, I think it has been resolved.

[2022-06-11 02:10] mosharaf commented on #94
Thanks Yinwei!

[2022-06-11 02:10] #94 closed

[2022-06-12 15:56] mosharaf opened #123 "Add additional commands in manager.py"
For example, `status` or `job-status` to see the status of the current job; `view-config` to see the configuration file used. We can discuss here to come up with a list of common things someone may need.

[2022-06-13 07:16] fanlai0990 commented on #114
Pushed the tensorflow training  (#124 Support TF Training). However, there are some loose ends left:

- Support model testing. This requires us to add tf modules in the current [testing functions](https://github.com/SymbioticLab/FedScale/blob/master/fedscale/core/utils/utils_model.py#L133);

- Better conversion of [data_loaders](https://github.com/SymbioticLab/FedScale/blob/master/examples/tensorf

[2022-06-13 18:08] mosharaf commented on #114
Great progress. Another TODO would be including appropriate tensorflow in the `enviornment.yml` file for installation. How do you want to go about it?

[2022-06-13 18:21] mosharaf commented on #111
I don't see any `sox` or `pytorch-baidu` inside `download.sh`. Which task(s) use them?

Also, who uses these three?

[code]

[2022-06-13 18:25] fanlai0990 commented on #111
1. We have decided to revert. Can @AmberLJC  please revert? Thanks!
2. sentencepieces is for common-voice; gdown for gRPC compile; pyemd can be removed

[2022-06-13 18:27] mosharaf opened #125 "Need a better structure for eval config files (yml), especially job_conf"
It's completely flat structure under `job_conf` which makes it hard to follow and organize. A better hierarchical organization under this will allow us, for example, to separate aggregator-related params from worker-related ones; the same for job-related params from trace-related params; etc.

[2022-06-13 18:28] AmberLJC commented on #111
Yes, these packages can be brought back after we add common-voice dataset. Will do this night

[2022-06-14 00:51] #103 closed

[2022-06-14 02:49] mosharaf commented on #116
Installing torch through pip and then `import torch` in python 3.9 doesn't give any error. The same in the fedscale environment segfaults. There is a torch/python versioning problem in our environment.

[2022-06-14 02:57] AmberLJC commented on #116
It also may be some issues with Mac, because it works fine on the server in current fedscale environment

[2022-06-14 02:58] mosharaf commented on #116
Yes, I'm talking about Mac.

[2022-06-14 03:02] mosharaf commented on #116
FWIW, submitting jobs through works in the fedscale environment as well. Only running python in the interactive mode doesn't

[2022-06-14 20:00] mosharaf opened #127 "manager.py should use the same defaults as arg_parser.py for different parameters"
It expects values in the `.yml` file and crashes if not provided. Every entry point in FedScale should use the same set of defaults.

[2022-06-16 04:10] #111 closed

[2022-06-22 16:24] mosharaf opened #132 "Add easy to use sync/async training modes"
Of course, we need implementations but we also need a single config to select the mode of training when submitting a job.

[2022-06-22 16:25] mosharaf commented on #132
@AmberLJC You can work with Yuxuan given that he's going through this right now.

[2022-06-24 21:36] ewenw opened #133 "Pull mechanism for client-server communication"
FedScale is currently built under an assumption that the central server communicates with clients based on push mechanism where the server initiates signals (handshake/training/notTraining/etc) to available devices. Is it possible to consider a pull based system where the device initiates the communication by sending requests to the server to ask for next step actions on a periodic basis? In a rea

[2022-06-24 21:41] AmberLJC commented on #133
That is a very good point. We're planning and building new aggregator and executor mode to support a pull based system.

[2022-06-24 21:54] fanlai0990 commented on #133
Hello. Thanks for trying FedScale. We want to note that **FedScale now is indeed a pull-based system**. For example, [clients/executors periodically ping](https://github.com/SymbioticLab/FedScale/blob/master/fedscale/core/executor.py#L335) the server for next step functions. Just like what you are describing. :)

[2022-06-24 22:00] ewenw commented on #133
Hi @fanlai0990 from my understanding, the server samples a selection of clients, [then uses the client executors to push ](https://github.com/SymbioticLab/FedScale/blob/e6def0cae191c534dfa416da2cee785530a6dd1d/fedscale/core/aggregator.py#L678)those messages to the client for signals like CLIENT_TRAIN and SHUT_DOWN. This seems like a push mechanism to me.

[2022-06-24 22:05] fanlai0990 commented on #133
There might be some misleading variable name. In FedScale, each executor drives the execution of its client. The executor **ping**(pull) the aggregator for the next steps, which may **receive** CLIENT_TRAIN for selected clients, or DUMMY_MSG with doing nothing. But essentially, the client is polling the aggregator.

[2022-06-24 22:10] ewenw commented on #133
Thanks for the clarification!

[2022-06-24 22:14] ewenw commented on #132
+1 it would be very helpful if the client could support an async communication mode. Our team is interested in building an async server that uses the [FedBuff protocol ](https://arxiv.org/pdf/2106.06639.pdf) and using FedScale to simulate devices to connect to it. In this mode, there would be no notion of rounds and the client would have to pass a model version received from the server back to the

[2022-06-24 22:21] AmberLJC commented on #133
btw, are you considering a pulled-based new device checkin system?

[2022-06-24 22:30] ewenw opened #134 "Questions about abstracting client communication from simulation"
Hi, we are interested in building a backend aggregator/coordinator that can eventually support production traffic, using FedScale for simulating device training and traffic. This means we wouldn't be implementing an aggregator.py and running it inside the framework. We would to build our own grpc service (or perhaps REST), in which the messages might be different [from FedScale's proto schema.](ht

[2022-06-24 22:33] ewenw commented on #133
@AmberLJC yes, we imagine when the device is in a state that it's ready for training and has new data to train on, it will periodically check-in with the server. Then the server decides whether the device should train based on its training history. This makes more sense in an async system.

[2022-06-24 22:48] AmberLJC commented on #132
For this k-buffer async, I would create a customized `aggregator.py`, for simulation mode,
1) assume there always client/task queue up
2) simulate the client completion order based on their speed
3) some changes in aggregator to support continues task launching

I will work on it these days

[2022-06-24 23:39] mosharaf commented on #133
@AmberLJC @fanlai0990  I think this is what we were discussing earlier re:having a separate chekcin server that decouples devices checking in and selector picking them.

[2022-06-25 01:56] fanlai0990 commented on #134
Hello. We are pretty happy to see that we are on the same page. :) And we are indeed planning these! Thanks for raising it up here.

(1) We plan to democratize the aggregator across multiple machines for better scalability too;

(2) Yes. We are comfortable to update the primitive protocols too. It would be much better if we can learn more about your needs (e.g., protocol schema), to define more co

[2022-06-27 02:16] zyxum opened #136 "Thinking about a better way to calculate computation latency of a client in a round"
Currently, FedScale [calculates computation latency](https://github.com/SymbioticLab/FedScale/blob/master/fedscale/core/helper/client.py#L42) without considering the model complexity. This does not make sense if we have different models training in the same time or we want to compare the system latency of different models.

I propose to multiply the current formula by a ratio of the number of floa

[2022-06-27 02:48] fanlai0990 commented on #136
Agree to do so. But please do not change the augmentation_factor.

Instead, 1. remove [these hard codes](https://github.com/SymbioticLab/FedScale/blob/master/fedscale/core/arg_parser.py#L201); 2. Multiply the compute_speed by the factor from FLOPs. Note that the current compute trace is from mobile_v2. So the factor should be FLOPs_of_new_model/FLOPs_of_mobile_v2

[2022-06-27 20:52] AmberLJC commented on #132
Hi Ewen, could you please take a look at #137 and see if it is what you want? or how can we improve it?

[2022-06-29 17:10] #132 closed

[2022-06-30 20:09] mosharaf commented on #134
I agree that @ewenw's option 2 is more attractive. @fanlai0990 all these are also relevant to the client library architecture we were discussing recently.

[2022-06-30 20:11] mosharaf commented on #123
@fanlai0990 can you please assign this to the team who were talking about shutdown command yesterday?

[2022-06-30 20:13] mosharaf commented on #113
#135 should close this

[2022-07-01 16:35] AmberLJC opened #138 "Integrate privacy component into aggregator.py"
Privacy, especially DP,  is a very important component in FL lifecycle. FedScale should provide easy option to enable different DP mechanisms.

[2022-07-03 07:29] fanlai0990 commented on #113
Fixed in #135

[2022-07-03 07:29] #113 closed

[2022-07-07 13:16] #102 closed

[2022-07-10 19:46] dywsjtu opened #140 "Issue/PR templates and contribution guide"
According to our last meeting, we should add issue/pr templates and provide guidance on contribution

[2022-07-13 13:09] ewenw opened #142 "Tensorflow data loader example"
The [tensorflow client example ](https://github.com/SymbioticLab/FedScale/blob/master/examples/tensorflow_engine/tf_client.py) is very helpful, but one suggestion for improvement is to add a [tf Dataset](https://www.tensorflow.org/api_docs/python/tf/data/Dataset) based dataloader. I think the existing dataloaders are all using torch, and this client converts torch tensors into tf tensors, which is

[2022-07-14 07:32] fanlai0990 commented on #142
Thanks for raising it up. Yes, the current dataloader is less efficient in my test, and I agree we'd better support naive tf dataloaders.

However, it may take a while to do so for all datasets.

- Do you have some preference regarding which datasets/tasks to prioritize?  One workaround, for now, is to prefetch the next batch in order to hide this latency;
- Wondering whether tensorflow (or JAX) i

[2022-07-14 07:37] fanlai0990 opened #143 "Create different modules"
Decouple the current aggregator into different modules for a better extension.

[2022-07-14 07:40] #101 closed

[2022-07-14 20:32] ewenw commented on #142
There is no preference on which dataset since we will be building a custom data loader for our internal dataset. I just think it would be useful to have an example for reference in examples/tensorflow_engine.

And yes, tensorflow will be dominant in our use case, and we are happy to contribute as we make progress!

[2022-07-22 02:42] #140 closed

[2022-07-24 03:37] mosharaf commented on #118
@dywsjtu can you take a lead on this?

[2022-07-26 06:27] fanlai0990 commented on #109
+1. We should add `MovieLens1M` and `Yelp` for the emerging recommendation task. Please help when you are free (@dywsjtu ).  Thanks!

Also, we should plan for cross-silo datasets. Do you think we should add those GDA network b/w and latency traces used in Sol? (@mosharaf ) If so, I can take the system trace part.

[2022-07-26 09:08] mosharaf commented on #109
Definitely, we should keep adding datasets.

As for cross-silo, it should certainly be in the roadmap. Before that however,  we need to fix simple things like data format #118

[2022-07-26 21:20] ewenw opened #148 "[Core] Async aggregator freezes during evaluation"
### What happened + What you expected to happen

Hi fedscale team, I tried to run the async aggregator locally, but no test metrics are generated. The training seems to work fine, but the system freezes without any error at round 50.

Here are the last events from the aggregator:

(07-26) 11:38:55 INFO     [async_aggregator.py:279] Client 2602 train on model 46 during 2274-2535.0060934242283
(07-2

[2022-07-26 21:32] AmberLJC commented on #148
I will take a look at this later. The training  loss should be reported at the end of every aggregation in my previous experiments.
And the problem may happen at https://github.com/SymbioticLab/FedScale/blob/3fa87b55579be6d2fbfd76e5e508527873551297/examples/async_fl/async_aggregator.py#L223.

[2022-07-26 21:34] ewenw commented on #148
Thank you, @AmberLJC. I've attached a screenshot of my TB output.
<img width="1333" alt="Snipaste_2022-07-26_14-33-29" src="https://user-images.githubusercontent.com/12105532/181116187-bf460d9d-ff7e-4680-ab95-0f16d5be5b4d.png">

[2022-07-28 15:44] mosharaf commented on #115
Close this one? @fanlai0990 @dywsjtu

[2022-07-28 15:47] mosharaf opened #151 "[Benchmark] Add Motley dataset"
### Description

"Motley: Benchmarking Heterogeneity and Personalization in Federated Learning" (https://arxiv.org/abs/2206.09262) introduces several datasets

### Use case

Use Motley datasets in conjunction with FedScale.

[2022-07-28 16:16] mosharaf opened #153 "[Dataloader] Load device trace from multiple formats"
### Description

Currently, FedScale assumes that the device traces have already been pickled first. We should be able to read traces in other formats such as JSON.

### Use case

Traces in human-readable and exchangeable formats are easier to deal with/use when traces were collected in a non-Python environment but we want to use it with FedScale.

[2022-07-28 17:42] #115 closed

[2022-07-29 00:24] AmberLJC commented on #148
I found the code freeze is because the checkin_period (simulated clients arrival) is less frequent, so the aggregator hangs as no client check in. I will modify the config `checkin_period=30` or `num_participants=1500`, should work

[2022-07-29 00:25] AmberLJC commented on #148
As for the training loss, i think it depends on the buffer size and other configs. though the original paper suggest `buffer_size=10`, we need to carefully tune these configs to converge the model

[2022-07-29 16:26] ewenw commented on #148
Thanks for the investigation. From looking at the code, load_global_model() in the async executor expects a model_id, but the Test() function and testing_handler() aren't customized in the async executor. I'm now seeing this error:
```TypeError: load_global_model() missing 1 required positional argument: 'round'```

[2022-07-29 18:06] fanlai0990 commented on #148
@AmberLJC Can you please take a look when you are free? Thanks!

[2022-07-29 18:49] AmberLJC commented on #148
Sure

[2022-08-01 16:17] mosharaf opened #159 "[Core] Replace pickle with language-independent serdes"
### Description

Throughout the code, FedScale pickles data before shipping them, which assumes python on both ends. Ideally everywhere, but at the very least, between components, we should avoid pickle so that components written in two different language/runtime can interact.

### Use case

Our workers can be written in Python, but also in Kotlin or Swift if the clients are on mobile phone.

[2022-08-01 21:38] #148 closed

[2022-08-01 22:46] Yunzhen-Liu opened #160 "[<FedScale component: Core|Dataloader|etc...>]"
### What happened + What you expected to happen

The training process sometimes crashes unexpectedly after the model evaluation (testing on the testing set).
![image](https://user-images.githubusercontent.com/104707526/182256456-f875f265-6b86-4a7c-bc7c-0bc029bdf542.png)

### Versions / Dependencies

OS: Linux (CloudLab FedScale 240-g5; 1 node)
FedScale, Python, cuda, etc: installed by "install.sh

[2022-08-02 20:09] fanlai0990 commented on #160
Can you please help when you are free? @dywsjtu Thanks.

[2022-08-02 20:18] dywsjtu commented on #160
I am looking into that and trying to reproduce the bug.

[2022-08-02 20:28] dywsjtu commented on #160
@Yunzhen-Liu Which version of the code base are you using right now? Your forked repo? main repo or can you tell me the specific commit? I can't reproduce your bug in my size with the current up-to-date master branch.

[2022-08-02 20:33] Yunzhen-Liu commented on #160
I think the code base is just the current one. Since I ran the experiment on CloudLab and I just download the code by "git clone https://github.com/SymbioticLab/FedScale.git"

[2022-08-02 20:46] Yunzhen-Liu commented on #160
Could you maybe run the experiment again on "CloudLab FedScale 240-g5; 1 node" with the conf.yml I provided? Maybe there is some environment issues there

[2022-08-02 21:03] dywsjtu commented on #160
I assume it's the data loader issue, try to make the num_loaders to be 0 and see whether it works. BTW are you currently running experiments on cloudlab?

[2022-08-02 21:04] Yunzhen-Liu commented on #160
Yes. I'm running on cloud lab to confirm the existence of the bug again hhhh

[2022-08-02 21:05] Yunzhen-Liu commented on #160
OK I'll try

[2022-08-02 21:08] dywsjtu commented on #160
Tell me when you finish and I can take over the resource. Just want to reproduce it with the same amount of system resources.

[2022-08-02 21:08] Yunzhen-Liu commented on #160
Oh, ok. I can terminate it now.

[2022-08-02 21:09] Yunzhen-Liu commented on #160
Terminated

[2022-08-02 21:12] dywsjtu commented on #160
LOL, you just need to kill your fedscale jobs (i.e. the running jobs) no need to terminate the whole experiment 😅.

[2022-08-02 21:12] Yunzhen-Liu commented on #160
...... AH OK. I misunderstood.

[2022-08-02 21:14] Yunzhen-Liu commented on #160
Emmmm, I think every time I tried CloudLab FedScale 240-g5; 1 node environment creates a bug, So you can start an experiment and I think the bug should appear

[2022-08-02 21:14] dywsjtu commented on #160
No worries, I will create a new one.

[2022-08-02 21:14] Yunzhen-Liu commented on #160
Or I can start an experiment again if you want hhh

[2022-08-02 21:19] dywsjtu commented on #160
Are you in the slack? You can DM me btw.

[2022-08-02 21:20] Yunzhen-Liu commented on #160
Sure

[2022-08-02 22:18] dywsjtu commented on #160
1. Decrease num_loaders
2. Increase timeout

[2022-08-02 22:18] #160 closed

[2022-08-03 02:33] mosharaf commented on #160
These should be part of a documentation page where we discuss FedScale config parameters and how to set them.

[2022-08-03 02:35] mosharaf opened #161 "[Configuration] How to set FedScale configuration parameters requires some guidance"
### Description

A documentation page that walks through all FedScale parameters, what they mean, and gives some guidance to avoid issues like #160 for example.

[2022-08-03 16:56] mosharaf commented on #125
We should look into hydra (https://hydra.cc/)

[2022-08-12 18:20] chaoyanghe opened #163 "Issues on FedScale and Oort: (1) widely promotes its so-called advantages that are not based new version of FedML (10 months outdated until today) (2) The evaluation of FedML old version (Oct, 2021) is not based on facts and overlapping with a published paper; (3) unrealistic overlap between system efficiency and data distribution (4) issues on numerical optimization (5) dual submission?"
Dear Authors of FedScale,

I didn't want to comment too much on FedScale because I thought all the experts in the field knew the truth. But you promote your outdated paper for a long time without based on facts and your co-author (e.g., Jiachen) always publicly claim the inaccurate advantages of FedScale over FedML on the Internet, which is a deep harm and disrespect to FedML's past academic effor

[2022-08-13 18:00] fanlai0990 commented on #163
We are very happy to see your entire team trying out FedScale! This means we are on the right track, and will encourage us to work hard to improve FedScale as a good open-source tool for the community.

We're happy to see FedML making good progress in the latest version. Meanwhile, we notice your concerns coincide with a thoughtful review [here](https://drive.google.com/file/d/1ae9Ycl4Pp0PhuyCeuAf

[2022-08-14 02:48] chaoyanghe opened #164 "Issues on FedScale and Oort: 1) wrong claims over FedML 2) unrealistic overlap between system efficiency and data distribution 3) issues on numerical optimization"
# Please don't close my issue before addressing it.

Dear Authors of FedScale,

I didn't want to comment too much on FedScale because I thought all the experts in the field knew the truth. But your co-author (e.g., Jiachen) always publicly claim the inaccurate advantages of FedScale over FedML on the Internet, which is a kind of harm and disrespect to FedML's past academic efforts and current indu

[2022-08-14 02:52] chaoyanghe commented on #163
@fanlai0990 Please do not close this issue before addressing the concern. I am waiting for your paper update to clarify our concern. FedML team and USC lab take these issues seriously.

I don't think my comments here coincide with the preview review.

[2022-08-14 05:04] #164 closed

[2022-08-14 19:32] fanlai0990 commented on #163
Thank you for diligently helping us to improve FedScale! These similar concerns remind us of the thoughtful Reviewer#3@ NeurIPS'22. While Reviewer#3 gave us a strong reject -- the rest of reviewers@NeurIPS gave 2 strong accept, 2 accept and 2 weak accept, and this benchmarking part of FedScale is eventually accepted@ICML -- his/her feedback is valuable.

**We believe readers can have a better unde

[2022-08-15 01:08] chaoyanghe commented on #163
@fanlai0990 Again, we are talking about the issues I raised here, not about an outdated NeurIPS review. It's strange to me that why you keep mentioning the NuerIPS review to us. If you keep talking about the paper review process, FedML team members and collaborators already have more advanced evidences related to ethical issues in the review process for your ICML, OSDI, NeurIPS papers. Don't drive

[2022-08-16 22:22] fanlai0990 opened #167 "[<FedScale component: Dataloader>] Fix Missing Model Configuration"
### What happened + What you expected to happen

Albert config is missing, leading to model failures. We should avoid providing such configurations by ourselves. This should be done automatically.

### Versions / Dependencies

FedScale python folder.

### Reproduction script

Try to submit nlp configs.

### Issue Severity

Medium: It is a significant difficulty but I can work around it.

[2022-08-17 15:06] ewenw opened #169 "Improve documentation in various components"
### Description

Some code comments and docstrings should be added, especially for resource_manager.py, data_loader.py, client_manager.py, etc. Also, some model diagram on what each component would be helpful for people new to the codebase.

[2022-08-17 15:57] fanlai0990 commented on #169
Thank you for this feedback. Can you @dywsjtu  please work on this asap, which may involve code cleanup? Thanks!

[2022-08-17 22:37] avestime commented on #163
Dear FedScale team, we are open to discuss these potential issues. So far, we unfortunately haven’t received clear answers for these issues yet.

[2022-09-12 23:31] ewenw opened #174 "[Async simulation] Implementation idea for task scheduling"
### Description

Hi FedScale team, here's my suggestion on how to implement the async simulation mode using device traces without needing a constant arrival parameter (related to #162):
[code]

This works well in my implementation, but might be harder to integrate into fedscale, hence I'm creating an issue to document it. Let me know if you have any questions / concerns.

Below is the python code

[2022-09-13 00:14] fanlai0990 commented on #174
Great! Thanks a lot!  Actually, Amber pushed a similar idea yesterday #173, which of course needs more efforts. We will work on this once we have more bandwidth.

[2022-10-05 03:25] mtang724 opened #177 "[Example/Notebook] Jupyer Notebook Server and Client Example Contain Old Code Leads Error"
### What happened + What you expected to happen

In FedScale/examples/notebook, the server and client contain old code "from fedscale.core.logger.execution import args" which suppose to be in new form "import fedscale.core.config_parser as parser" -> args = parser.args

### Versions / Dependencies

FedScale 0.5, pip install -e .

### Reproduction script

It happened when I tried to run the example

[2022-10-05 04:54] fanlai0990 commented on #177
@IKACE Hi, Yile. Can you please fix this due to the last commit? #175 Thanks!